*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 234, 234);
}

header{
    height: 100px;
    padding: 10px 25px;
    background-color: white;
    margin-bottom: 25px;
   
}
.logo{
    height: 100%;
    vertical-align: middle;
}


.text-logo{
   font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    vertical-align: middle;
    
}

.tasti-container{
    width: 75%;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
}
.tasti{
    margin-left: 30px;
    height: 50px;
    padding: 0px 50px;
    border-bottom: 1px solid grey ;
    line-height: 50px;

}

.container{
    width: 75%;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
}
.button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;

}

.button-blu{
    background-color: blue;
    color: white;
}

.button-section{
    border: 1px solid grey;
    background-color: transparent;
    color: grey;}

    .task-padding{
        padding: 10px 50px;
    }
    
    li{
       list-style-type: none; 
       padding: 10px;
    }
    
    h3::before{
        content: '\25BE';
    }
    
    .circle::before{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        border-radius: 50%;
        font-size: 16px;
        text-align: center;
        line-height: 15px;
        display: inline-block;
    }
    
    .checked::before{
        content: '\2713';
        border: 1px solid green;
        color: green;
    }
    
    .failed::before{
        content: '\2573' ;
        border: 1px solid red;
        color: red;
    }
    
    .tag{
        padding: 0px 10px;
        border-radius: 10px;
        font-size: 16px;
        color: white;
    }
    
    .tag-type1{
        background-color: #2d8ff1;
    }
    
    .tag-type2{
        background-color: #2d8ff1;
    }
    
    .tag-type3{
        background-color:rgb(151, 13, 215);
    }
    
    .tag-type4{
        background-color: #2df1c7;
    }
    
    .tag-type5{
        background-color: orange;
    }
    
    .tag-type6{
        background-color: violet;
    }
    
    